/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

svg{
    height: 17px;
    fill: #102870;
}

:root {
    --Big-font: ;

}

body{
    width: 100%;
    max-height: 100vh;
    background-color: whitesmoke;
}



/* So on to the classes of the web version, Note: All these classes have 'DESKTOP' starting them for clarity */



@media screen and (max-width: 3767px) {

    /* Box-Icon for all the icons generally on the page */
    box-icon {
        fill: rgb(3, 42, 94);
    }

    
    main{
        margin: 0px auto;
        max-width: 767px;
        width: 100%;
        position: relative;
        top: -10px;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        padding: 10px 0px;
        margin: 10px auto;
        width: 90%;        
    }

    /* Profil CSS */

    #UserProfile .data-container .data-super-hold{
        box-shadow: 0px 0px 12px -2px rgb(196, 196, 196);
        margin-top: 15px;
    }
    .profile-super{
        width: unset;
        margin: 20px 10px;
        background-color: #ebebeb;
        box-shadow: 0px 0px 20px -2px grey;
        border-radius:10px;
        padding: 10px;
    }
    .profile {
        display: flex;
        justify-content: flex-start;
        padding: 10px;
    }
    .profile .image-hold{
        width: 100px;
        height: 100px;
        text-align: center;
        border-radius: 100%;
        font-size: 20px;
        background-color: gainsboro;
        font-weight: bold;
    }

   .profile-photo {
        width: 120px;
        border-radius: 50%;
        object-fit: cover;
    }
    
    .profile-content {
        justify-content: center;
        flex-wrap: nowrap;
        padding: 10px 0px;
        box-sizing: border-box;
        flex-basis: 60%;
        margin-left: 20px;
        align-items: center;
    }
    .profile-content h2 {
        padding: 5px 0px;
        font-size: 24px;
        width: 100%;
        text-align: left;
    }
    .profile-content p {
        width: 100%;
        text-align: left;
    }
    

    .contact {
        display: block;
        color: grey;
        font-size: 15px;
        margin-left: 20px;
    }
    .contact svg{
        fill: grey;
    }
  

   .contact-container  {
        align-items: center;
        justify-content: flex-start;
        display: flex;
        padding: 5px 10px;
    }

    .contact div box-icon {
        fill:  rgb(3, 42, 94);
        margin: 10px;
        align-items: center;
    }
    .number-mail {
        margin-left: 30px;
    }
    /* Wallet and Orders Section */
    

    div.class_data{
        width: unset;
        background-color: white;
        border-radius: 10px;
        padding: 10px;
        margin: 20px 10px;
        display: flex;
        flex-direction: column;
    }
    .class_data .head{
        font-size: 18px;
        font-weight: bold;
    }
    .class_data.others div.Flex{
        margin-top: 5px;
    }
    .class_data .leave{
        align-self: flex-end;
        display: flex;
        font-size: 14px;
        width: max-content;
        padding: 5px 10px;
        color: red;
        background-color: #ffeded;
        fill: red;
        border-radius: 5px;
        cursor: pointer;
    }
    .class_data .leave > :nth-child(n){
        align-self: center;
        padding: 0;
    }
    .class_data .name{
        padding: 10px;
        font-size: 15px;
        color: grey;
        text-align: left;
    }
    .class_data .name.udl{        
        border-bottom: 1px dashed;
        margin-bottom: 20px;
    }
    .right{
        text-align: right;
    }




    .class_data .leave .icon svg{
        fill: red;
    }
    .class_data .leave .icon{
        margin: 5px 10px ;
    }



    /* 5TH SECTION CONTAINING OTHER ITEMS BREFORE THE LOG OUT BUTTON */
    .others{
        width: 90%;
        padding: 5px 0px;
        margin: 10px auto 0px;
        font-size: 25px;
    }
    .others .Flex {
        padding: 5px 10px;
        box-shadow: rgb(209, 209, 209);
        cursor: pointer;
        color: #102870;
        margin-top: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .others .Flex .icon box-icon {
        margin: 10px;
    align-items: center;
    }
    .others .Flex .content {
        font-size: 15px;
        font-weight: 50px;
    }
    /* LOG OUT */
    div.log-out.Flex {
        margin-top: 30px;
        margin-bottom: 30px;
        box-shadow: 0px 0px 10px -2px grey;
        border-radius: 9px;
        justify-content: center;
    }
    div.log-out.Flex > :nth-child(n){
        padding: 0;
    }


    .log-out svg {
        transform: rotate(180deg);
    }  

}
    
@media screen and (max-width: 360px) {
    .profile-content h2 {
        padding: 5px 0px;
        font-size: 16px;
        margin-top: 20px;
    }

}

/* Additional */
div.process-pack .process-hold{
    background-color: white;
}
div.process-hold .process-proceed{
    background-color: whitesmoke;
}
.unsigned{
    padding: 0px;
    margin: 20px auto;
    width: unset;
    margin-top: 40px;
    display: block !important;
}

.unsigned.show{
    display: block;
}

.unsigned > div.head{ 
    font-size: 18px;
    margin-left: 8px;
}

.unsigned .head{ 
    font-weight: bold;
    margin: 10px 0;
    font-size: 15px;
}

.for-instructor{
    margin-top: 20px;
}
.for-instructor > .head{
    font-weight: bold;
    font-size: 18px;
    padding: 10px 0;
    width: 90%;
    text-align: right;
    margin: 0px auto;
}
.process-pack{
    padding: 0px;
}
.process-pack .process-hold{
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}
.process-hold .extra-text{
    padding: 0px; 
    font-size: 14px;
}
.process-hold .process-proceed{
    align-self: flex-end;
    margin: 10px 0;
    background-color: gainsboro;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
}


.change-face-auth{
    border-radius: 10px;
    padding: 20px 10px;
    text-align: center;
    display: flex;
    cursor: pointer;
    justify-content: center;
    background-color: gainsboro;
}
.change-face-auth > :nth-child(n){
    margin: 0px 4px;
    color: darkblue;
}
.data-container .head{
    font-size: 15px;
    font-weight: bold;
    padding: 0 15px;
}

.profileEdit-super{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 5;
    width: 100%;
    height: 100vh;    
    padding: 20px 0;  
    overflow-y: scroll;             
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
}
.profileEdit{
    position: relative;
    margin: 20px 0;
    align-self: center;
    width: 80%;
    margin-top: 10vh !important;
    padding: 10px;
    margin: 0px auto;
    max-height: 60vh;
    overflow-y: scroll;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 36px -12px grey;
    background-color: #f5f5f5;
}
.profileEdit .head{
    text-align: center;
    font-weight: bold;
}
.entries-hold{
    padding: 5px;
    margin: 10px 0;
    font-size: 14px;
}


div.entries-hold div.head{
    text-align: left;
    padding: 5px;
}
.entries-hold input{
    border: none;
    border-radius: 10px;
    background-color: white;
    outline: none;
    padding: 10px;
    width: 100%;
}
.entries-hold.last{
    border-top: 1px dashed grey;
    padding-top: 20px;
}
/* .profileEdit .action{
    width: calc(100% - 10px);
    margin: 5px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
} */
/* .profileEdit .action .proceed{
    background-image: linear-gradient(45deg, #1e1036, transparent);
} */
/* .profileEdit .action div.cancel{
    background-color: whitesmoke;
    border: 2px solid #09097c;
    color: #09097c;
} */


/* .profileEdit .action > :nth-child(n){
    cursor: pointer;
    padding: 5px;
    font-size: 14px;
    margin-top: 15px;
    width: 48%;
    background-color: rgb(9 9 124);
    text-align: center;
    border-radius: 4px;
} */
.content {
    margin-left: 10px;
}
.data-super-hold .chartBio{
    padding: 15px 5px;
}
